<% layout("/layouts/boilerplates.ejs") %>

<style>

.tax{
        display: none;
}
.tactogle{
        border: 1px solid black;
        border-radius: 1rem;
        height: 2.5rem;
        padding: 1rem;
        margin-top:0.5rem ;
        display: flex;
        align-items: center;
        margin-right: 1rem;
}

</style>

<body>
 <div class="filters">
    <a class="filter" href="/listings">
        <div><i class="fa-solid fa-fire"></i></div>
        <p>Trending</p>
</a>
<a class="filter" href="/listings">
  
        <div><i class="fa-solid fa-bed"></i></div>
        <p>Rooms</p>
</a>
<a class="filter" href="/listings">
        <div><i class="fa-solid fa-mountain-city"></i></div>
        <p>Iconic Cities</p>
</a>
<a class="filter" href="/listings">
        <div><i class="fa-solid fa-mountain"></i></div>
        <p>Mountain</p>
</a>
<a class="filter" href="/listings">
        <div><i class="fa-brands fa-fort-awesome"></i></div>
        <p>Castles</p>
</a>
<a class="filter" href="/listings">
        <div><i class="fa-solid fa-person-swimming"></i></div>
        <p>Amazing Pools</p>
</a>
<a class="filter" href="/listings">
        <div><i class="fa-solid fa-campground"></i></div>
        <p>Camping</p>
</a>
<a class="filter" href="/listings">
        <div> <i class="fa-solid fa-tractor"></i> </div>
        <p>Farms</p>
</a>

<a class="filter" href="/listings">
        <div> <i class="fa-solid fa-snowflake"></i> </div>
        <p>Arctic</p>
</a>
<a class="filter" href="/listings">
        <div><i class="fa-solid fa-mountain-city"></i></div>
        <p>Iconic Cities</p>
</a>
<a class="filter" href="/listings">
        <div><i class="fa-solid fa-campground"></i></div>
        <p>Camping</p>
</a>
<div class="tactogle ms-auto">
        <div class=" form-switch form-check-reverse">
                <input class="form-check-input" type="checkbox" id="flexSwitchCheckReverse">
                <label class="form-check-label" for="flexSwitchCheckReverse">Display total after taxes</label>
        </div>
</div>
 </div>   
 
    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 ">
        <% for(list of lists){ %>
            <a class="edit" href="/listings/<%= list._id %>">
                <div class="card col listing-card">
                    <!-- Remove the commented-out style attribute from the div -->
                    <!-- <div class="card col" style="width: 22rem;"> -->
                    <img src="<%= list.image.url %>" class="card-img-top img" alt="img" style="height: 20rem;">
                    <div class="card-img-overlay card-img-overlay1">  <%= list.description %> </div>
                    <div class="card-body">
                        <h5 class="card-title"><b>
                                <%= list.title %>
                            </b></h5>
                        <p >&#8383 <%= list.price.toLocaleString("en-IN") %>
                                <i class="tax"> &nbsp; &nbsp;18% GST</i>
                        </p>
                       
                    </div>
                </div>
            </a>
            <% } %>
    </div>
</body>

<script>
        
  let tax = document.querySelector('#flexSwitchCheckReverse');
        tax.addEventListener('click', () => {
                let tax_infos = document.getElementsByClassName('tax');
               
                let a= false;
                for (let tax_info of tax_infos) {
                        if(tax_info.style.display != "inline"){
                                tax_info.style.display = "inline";                                 
                        }else{
                                tax_info.style.display = "none";
                        }
                }
            
        
               

        });

</script>